{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="post-meta">
  <time datetime='{{ .Date.Format "2006-01-02" }}'>
    {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
  </time>

  {{ if ne .Lastmod .Date }}
  <span class="separator">-</span>

  <time datetime='{{ .Lastmod.Format "2006-01-02" }}'>
    Updated {{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
  </time>
  {{ end }}
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{ partial "iine.html" . }}

{{ end }}

